/* src/pages/Home.css */

.card {
border: 1px solid #dbdbdb;
border-radius: 8px;
margin-bottom: 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
margin: auto;
width: 60%;
}

.card-header {
background-color: #ffffff;
border-bottom: 1px solid #dbdbdb;
}

.card-img-top {
border-radius: 0;
}

.card-body {
padding: 15px;
}

.card-text {
margin-bottom: 5px;
}

.text-muted {
font-size: 0.9rem;
}

/* Pagination Styling */
.pagination {
margin-top: 20px;
}
  
.page-item {
margin: 0 5px;
}

.page-link {
color: #0095f6;
border: 1px solid #dbdbdb;
border-radius: 4px;
}

.page-link:hover {
background-color: #f1f1f1;
}

.active .page-link {
background-color: #0095f6;
border-color: #0095f6;
color: #ffffff;
}